.btn {
    border: 1px solid #778877;
    background-color: #aabbaa;
    color: #333333;
    font-size: 1.5rem;
    margin: 0.25rem 0.5rem;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
}

.btn:hover {
    background-color: #ccddcc;
}

.btn:active {
    box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.1);
}