.cell {
    width: 10%;
    height: 100%;
    border-radius: 40%;
    box-shadow: inset 0 0 25px 10px rgba(0, 0, 0, 0.3);
}

.alive {
    background-color: #66bb66;
} 

.dead {
    background-color: #bb6666;
}
