.page-header {
    width: 100%;
    height: 6rem;
    background-color: #114444;
    background: linear-gradient(#4444ff, #ccccff);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 3rem;
}

.page-title {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 0;
}