* {
    box-sizing: border-box;
}

body {
    margin: 0;
    border: 0;
    font-family: 'Titillium Web', sans-serif;
    background-color: #e6e6ff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lilita One', sans-serif;
}

