.board-container {
    width: calc(100vh - 14rem);
    height: calc(100vh - 14rem);
    margin: 7rem auto;
}

.controls-container {
    display: flex;
}

.btn-container {
    width: 50%;
}

.selector-container {
    width: 50%;
    text-align: right;
}